# Terraform directories
.terraform/
.terraform.d/

# Terraform state files
*.tfstate
*.tfstate.*
*.tfstate.backup

# Terraform lock file
.terraform.lock.hcl

# Crash log files
crash.log

# Secret files
*secret*
*.pem
*.key
*credentials*
*.tfvars

# Local .terraform directories
**/.terraform/*

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# Ignore all 
!dev.tfvars
!stage.tfvars
!prod.tfvars

